/*********************************************TEMA 1******************************************************/
/*
body{
  background: url(Patterns/noisy_net.png) repeat;
}

.form-type-item {
  float: right;
}
.rate-info {
  position: absolute;
  top: 1px;
  right: 50px;
  font-weight: bold;
  font-size: 120%;
  color: #36117e;
}

#rate-node-237-1-1{
  position: relative;
}

.form-item.form-type-item.form-group > .control-label {
  display: none;
}

.field-item.even{
 color: #466675;
}

div.panel-body{
  background-color: #CCCCCC;
}

div.field-type-text-long > div.field-label{
  display: none;
}

.panel-default > legend.panel-heading{
  background-color: #6A8D9D;
  color: #333333;
}

.panel-title{
  font-weight: bold;
  font-size: 90%;
}

*/



/*********************************************TEMA 2******************************************************/
/*

body{
  background: url(Patterns/noisy_net.png) repeat;
}

.form-type-item {
  float: right;
}
.rate-info {
  position: absolute;
  top: 1px;
  right: 50px;
  font-weight: bold;
  font-size: 120%;
  color: #36117e;
}

#rate-node-237-1-1{
  position: relative;
}

.form-item.form-type-item.form-group > .control-label {
  display: none;
}

.field-item.even{
 color: #FFFFFF;
}

div.panel-body{
  background-color: #6A8D9D;
}

div.field-type-text-long > div.field-label{
  display: none;
}

.panel-default > legend.panel-heading{
  background-color: #466675;
  color: #CCCCCC;
}

*/

/*********************************************TEMA 3****WINNER SO FAR**************************************************/

/*
body{
  background: url(Patterns/noisy_net.png) repeat;
}

.form-type-item {
  float: right;
}
.rate-info {
  position: absolute;
  top: 1px;
  right: 50px;
  font-weight: bold;
  font-size: 120%;
  color: #36117e;
}

#rate-node-237-1-1{
  position: relative;
}

.form-item.form-type-item.form-group > .control-label {
  display: none;
}

.field-item.even{
 color: #2B2301;
}

div.panel-body{
  background-color: #CCCCCC;
}

div.field-type-text-long > div.field-label{
  display: none;
}

.panel-default > legend.panel-heading{
  background-color: #2D3033;
  color: #CCCCCC;
}


*/

/*********************************************TEMA 4**************************************************/

/*
body{
  background: url("http://na.leagueoflegends.com/sites/default/files/upload/art/wp_alistar_vs_olaf_1920x1080.jpg") no-repeat;
  background-attachment: fixed;
}

body{
  background: url("http://na.leagueoflegends.com/sites/default/files/upload/art/wp_alistar_vs_olaf_1920x1080.jpg") no-repeat;
  background-attachment: fixed;
}

.form-type-item {
  float: right;
}
.rate-info {
  position: absolute;
  top: 1px;
  right: 50px;
  font-weight: bold;
  font-size: 120%;
  color: #36117e;
}

#rate-node-237-1-1{
  position: relative;
}

.form-item.form-type-item.form-group > .control-label {
  display: none;
}

.field-item.even{
 color: #EDEDEA;
}

div.panel-body{
  background-color: #2D3033;
}

div.field-type-text-long > div.field-label{
  display: none;
}

.panel-default > legend.panel-heading{
  background-color: #000000;
  color: #FFFFFF;
}

.panel-title{
  font-weight: bold;
  font-size: 80%;
}

*/


/*********************************************TEMA 5 - JOSE**************************************************/

/*
body{
  background: url("http://na.leagueoflegends.com/sites/default/files/upload/art/wp_alistar_vs_olaf_1920x1080.jpg") no-repeat;
  background-attachment: fixed;
}


.form-type-item {
  float: right;
}
.rate-info {
  position: absolute;
  top: 1px;
  right: 50px;
  font-weight: bold;
  font-size: 120%;
  color: #36117e;
}

#rate-node-237-1-1{
  position: relative;
}

.form-item.form-type-item.form-group > .control-label {
  display: none;
}

.field-item.even{
 color: #EDEDEA;
}

div.panel-body{
  background-color: #25353C;
}

div.field-type-text-long > div.field-label{
  display: none;
}

.panel-default > legend.panel-heading{
  background-color: #031432;
  color: #333;
  border-color: #ddd;
}

.panel-title{
  font-weight: bold;
  font-size: 80%;
  color: #F3E7E7;
}

.myTextArea{
  background-color: #dedeefb3;
}

*/
